.news-container {
    width: 100%;
    overflow: hidden;
    margin: 20px auto;
  }
  .news-container h2 {
    text-align: center;
}
  
  .card-box {
    max-height: 500px; /* Adjust the maximum height of the box */
    overflow: hidden;
  }
  
  .card {
    width: calc(100% - 40px); /* Adjust card width as needed */
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
 
  